body{
    font-family: 'Arima Madurai', cursive;
 }
.cover{
    background-image: url('../images/h_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 720px;
    text-align: center;
    padding: 200px;
    color: white;
}
p{
    text-align: center;
}
h1{
    color: white;
    text-align: center;
    padding-top: 40px;
}
.cover img:last-child{
    padding: 120px;
}
h2{
    text-align: center;
    }
.about{
        text-align: center;
}
.services{
    background-image: url('../images/s_image.jpg');
    background-size: cover;
    height: 250px;
    text-align: center;
    color: white;
    padding: 80px;
}
.work{
    text-align: center;
    height: 250px;
    font-size: 10px;
}
.col-space{
    margin-top:20px;
    margin-bottom:20px;
}
#design-a,#development-a,#product-a{
    display: none;
}
.project{
width: 320px;
height: 270px;
background-color:white;
z-index: 1;
opacity: 0.2;
position: absolute;
top: 0.0em;
display:none;
color:black;
font-size: 20px;
}