.cover{
    background-image: url('../images/h_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 720px;
    text-align: center;
    padding: 200px;
    color: white;
}
p{
    text-align: center;
}
h1{
    color: white;
    text-align: center;
    padding-top: 40px;
}
.cover img:last-child{
    padding: 120px;
}
h2{
    text-align: center;
    }
.about{
        text-align: center;
}
.services{
    background-image: url('../images/s_image.jpg');
    background-size: cover;
    height: 250px;
    text-align: center;
    color: white;
    padding: 80px;
} 